<div ng-switch="field.config.format">
    <asteros-simple-field ng-switch-when="TEXT" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="CHECK_BOXES" field="question" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="RANGE_CHOICE" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="RADIO_BUTTONS" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="STATIC_MENU" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="QUERY_MENU" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="DYNAMIC_MENU" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="DATE_TIME" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="DATE_ONLY" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-simple-field ng-switch-when="TIME_ONLY" field="field" ticket="ticket" parent="parent"></asteros-simple-field>
    <asteros-multisearch-field ng-switch-when="14"
                               ticket="ticket"
                               field="field"
                               is-parent="false"
                                parent="parent"></asteros-multisearch-field>
    <asteros-composite-field ng-switch-when="15" field="field" ticket="ticket" parent="parent"></asteros-composite-field>
</div>