<div class="multisearch-field">
    <div class="multisearch-field__caption-block">
        <div class="multisearch-field__caption-block__label">
            <span class="label__text" ng-class="{'required__label' : field.config.question.isRequired}" data-required="{{'common.label.required.bracketed' | i18n}}">{{field.config.question.label}}</span>
        </div>
        <div class="multisearch-field__caption-block__controls">
            <div class="control-button control-button_add" ng-click="showSearchModal()"
                 ng-if="config.isMultipleChoise || !item.items.length">
                <ins class="icon-plus"></ins>
                {{ isParent ? ('asteros.multifield.add.button' | i18n) : ''}}
            </div>
        </div>
    </div>
    <input class="multisearch-field__value"
           ng-model="inputValue"
           ng-required="field.config.question.isRequired"
           ng-class="{'multisearch-field__value_do-validate' : field.validate}"
           asteros-multisearch-max-items-validator="{{field.config.maxItems}}"
           name="{{field.id}}">
    <div class="multisearch-field__content">
        <div ng-repeat="subField in field.subFields" class="multisearch-field__item">
            <div class="multisearch-field__caption-block">
                <div class="multisearch-field__caption-block__label multisearch-field__caption-block__label_black">
                    {{ subField.value.label }}
                </div>
                <div class="multisearch-field__caption-block__controls">
                    <div class="control-button control-button_remove" ng-click="removeItem(subField.value)">
                        <ins class="icon-cross"></ins>
                    </div>
                </div>
            </div>
            <asteros-switch-field field="subField" ticket="ticket" parent="field"></asteros-switch-field>
        </div>
    </div>
</div>