<div class="multisearch-field">
    <div class="multisearch-field__caption-block">
        <div class="multisearch-field__caption-block__label">
            <span class="label__text" ng-class="{'required__label' : field.config.question.isRequired}" data-required="{{'common.label.required.bracketed' | i18n}}">{{field.config.question.label}}</span>
        </div>
        <div ng-if="isParent" class="multisearch-field__caption-block__controls">
            <div class="control-button control-button_add" ng-click="showSearchModal()"
                 ng-if="config.isMultipleChoise || !item.items.length">
                <ins class="icon-plus"></ins>
                {{ 'asteros.multifield.add.button' | i18n}}
            </div>
        </div>
    </div>
    <input class="multisearch-field__value"
           ng-model="inputValue"
           ng-class="{'multisearch-field__value_do-validate' : field.validate}"
           ng-required="field.config.question.isRequired"
           asteros-multisearch-max-items-validator="{{field.config.maxItems}}"
           name="{{field.id}}">
    <div class="multisearch-field__content">
        <div ng-repeat="item in field.value" class="multisearch-field__tag">
            {{item.label}}
            <ins class="icon-cross" ng-click="removeItem(item)"></ins>
        </div>
        <div ng-if="!isParent" class="control-button control-button_add" ng-click="showSearchModal()"
             ng-if="config.isMultipleChoise || !item.items.length">
            <ins class="icon-plus"></ins>
        </div>
    </div>
</div>
