<div ng-switch="field.config.format">
    <srd-text-question ng-switch-when="TEXT" data="question"></srd-text-question>
    <srd-checkbox-question ng-switch-when="CHECK_BOXES" data="question"></srd-checkbox-question>
    <srd-number-question ng-switch-when="RANGE_CHOICE" data="question"></srd-number-question>
    <srd-radio-question ng-switch-when="RADIO_BUTTONS" data="question"></srd-radio-question>
    <srd-radio-question ng-switch-when="STATIC_MENU" data="question"></srd-radio-question>
    <srd-query-menu-question ng-switch-when="QUERY_MENU" data="question"></srd-query-menu-question>
    <srd-query-menu-question ng-switch-when="DYNAMIC_MENU" data="question" questions="relatedQuestions"></srd-query-menu-question>
    <srd-date-time-question ng-switch-when="DATE_TIME" data="question"></srd-date-time-question>
    <srd-date-question ng-switch-when="DATE_ONLY" data="question"></srd-date-question>
    <srd-time-question ng-switch-when="TIME_ONLY" data="question"></srd-time-question>
</div>
