<div class="modal-header">
    <h1 class="modal-header__title modal-header__title_centered"
        name="uiTestModalTitle">
        {{ searchConfig.label }}
    </h1>

    <ins class="modal__close modal__close_header icon-cross"
         aria-label="{{::'common.buttons.close' | i18n}}"
         ng-click="close()"
         name="uiTestCloseModalBtn">
    </ins>
</div>

<div class="modal-body">
    <loading-spinner overlay="true" if="isLoading"></loading-spinner>
    <div class="filter">
        <table style="width:100%">
            <tr>
                <td ng-repeat="filter in searchConfig.filterList" class="filter-field">
                    <label>{{ getLocalizedString(filter.fieldName) }}</label>
                    <input type="text" ng-model="filterData[filter.fieldName]" asteros-enter="search()">
                </td>
                <td valign="bottom" style="width: 30px;">
                    <button type="button" class="btn btn-primary" ng-click="search()">Поиск</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="filtered-records">
        <asteros-paging-table config="tableData.config" records="tableData.items" is-selectable="true"
                              on-select="selectItem(item, isSelected)"></asteros-paging-table>
    </div>
</div>

<div class="modal-footer">
    <div class="support-modal__btn-container">
        <button type="button" class="btn btn-primary ng-binding" ng-click="apply()"
                ng-disabled="selectedItems.length == 0">
            Добавить
        </button>
        <button type="button" class="btn ng-binding" ng-click="close()">
            Отменить
        </button>
    </div>
</div>