<div role="dialog" aria-labelledby="modalLabel">
    <span class="modal-content__508-hidden-span">{{'common.labels.508BeginContent' | i18n}}</span>

    <div class="action-blade__header">
        <h2 id="modalLabel" class="action-blade__title">{{'common.labels.approvalList' | i18n}}</h2>
    </div>
    <div loading-spinner if="state.saving || state.loading" centered="true" overlay="true"></div>
    <div class="asteros-approval-process">
        <accordion close-others="false">
            <accordion-group class="asteros-approval-stage"
                             ng-class="{'asteros-approval-stage_invalid' : !validStagesMap[key]}"
                             heading="{{'asteros.approval.stage.title' | i18n : stage.stage}} ({{ 'asteros.approval.stage.status.' + stage.status | i18n }})"
                             ng-repeat="(key, stage) in stages" is-open="accordionState.isOpen[key]">
                <asteros-approval-stage stage="stage"></asteros-approval-stage>
            </accordion-group>
        </accordion>
    </div>
    <div class="action-blade__footer clearfix" role="region" aria-label="{{'common.region.action' | i18n}}">
        <div class="action-blade__button-container">
            <button type="button" class="btn_secondary" ng-click="$dismiss()">{{'common.button.close' | i18n}}</button>
        </div>
        <div class="action-blade__button-container" ng-if="isDirty">
            <button type="button" class="btn_secondary" ng-click="cancel()">{{'common.button.cancel' | i18n}}</button>
        </div>
        <div class="action-blade__button-container" ng-if="isDirty">
            <button type="button" class="btn_primary" ng-click="save()">{{'common.button.save' | i18n}}</button>
        </div>
    </div>
    <span class="modal-content__508-hidden-span">{{'common.labels.508EndContent' | i18n}}</span>
</div>
