<div class="asteros-approver">
    <div ng-if="!isEdit" class="asteros-tag" ng-class="{'dirty': isDirty, 'invalid' : !isValid}">
        {{ approver.fullName }}
        <i class="icon-pencil edit-approver-btn" ng-if="isEditable" ng-click="toggleEdit()"></i>
    </div>
    <div ng-if="isEdit" class="asteros-edit-field">
        <asteros-edit-approver-field approver="approver"></asteros-edit-approver-field>
    </div>
</div>