<div class="asteros-approval">
    <div class="asteros-status">
        <i ng-class="getStatusClass(approval.status)"></i>
    </div>
    <asteros-approver ng-repeat="approver in approval.approvers" approver="approver" is-editable="isEditable"></asteros-approver>
    <div class="asteros-approval-footer">
        <div class="asteros-approval-type" ng-if="approvalType">
            {{ 'asteros.approval.footer.text' | i18n : approvalType}}
        </div>
        <div class="asteros-approval-save-btn" ng-show="isEditable && isEdited">
            <button type="button" class="btn_primary" ng-click="save()">
                {{'common.button.save' | i18n}}
            </button>
            <button type="button" class="btn_secondary" ng-click="cancelChanges()">
                {{'common.button.cancel' | i18n}}
            </button>
        </div>
    </div>
</div>
