<div role="dialog" aria-labelledby="modalLabel">
    <span class="modal-content__508-hidden-span">{{'common.labels.508BeginContent' | i18n}}</span>

    <div class="action-blade__header">
        <h2 id="modalLabel" class="action-blade__title">{{'asteros.approval.comment.form.label' | i18n}}</h2>
    </div>

    <div loading-spinner if="state.saving" centered="true" overlay="true"></div>
    <div class="asteros-comment-form">
        <textarea ng-model="comment" class="textarea full-width"></textarea>
    </div>

    <div class="action-blade__footer clearfix" role="region" aria-label="{{'common.button.reject' | i18n}}">
        <div class="action-blade__button-container">
            <button type="button" class="btn_secondary" ng-click="$dismiss()">{{'common.button.close' | i18n}}</button>
        </div>
        <div class="action-blade__button-container">
            <button type="button" class="btn_primary" ng-disabled="!comment" ng-click="apply()">{{'common.button.reject' | i18n}}</button>
        </div>
    </div>
    <span class="modal-content__508-hidden-span">{{'common.labels.508EndContent' | i18n}}</span>
</div>
