<div>
    <input type="text"
           title="{{ 'create.ticket.affected.customer' | i18n }}"
           class="custom-input"
           ng-model="input"
           role="combobox"
           typeahead-min-length="3"
           typeahead-template-url="views/create/custom-add-user-dropdown.html"
           typeahead-wait-ms="500"
           typeahead-loading="state.loadingApproverSearch"
           typeahead-on-select="update($item)"
           typeahead="user as user.fullName for user in getApproverByText($viewValue)"
           placeholder="{{ 'search.filter.optionName.searchApprover' | i18n }}"
           auto-focus>
    <div class="cancel-btn" ng-click="cancel()">
        <i class="icon-cross"></i>
    </div>
    <div class="select-custom-dropdown__spinner-container">
        <loading-spinner if="state.loadingApproverSearch" inline="true"></loading-spinner>
    </div>
</div>