<div ng-if="requesters.length > 0" class="wo-requesters-list">
    <!--{{ 'asteros.requester.list.header' | i18n}}-->
    <table class="wo-requesters-list__table">
        <thead>
            <tr>
                <th>{{ 'asteros.workorder.requesters.list.name' | i18n}}</th>
                <th>{{ 'asteros.workorder.requesters.list.login' | i18n}}</th>
                <th>{{ 'asteros.workorder.requesters.list.corporateId' | i18n}}</th>
                <th>{{ 'asteros.workorder.requesters.list.position' | i18n}}</th>
                <th>{{ 'asteros.workorder.requesters.list.location' | i18n}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="requester in requesters">
                <td><a ng-click="moveToPerson(requester)"><i class="icon-user"></i> {{requester.fullName}}</a></td>
                <td>{{requester.loginId}}</td>
                <td>{{requester.corporateId}}</td>
                <td>{{requester.jobTitle}}</td>
                <td>{{requester.location}}</td>
            </tr>
        </tbody>
    </table>
    <!--<ol>
        <li ng-repeat="requester in requesters">
            {{requester.displayName}}<br>
            (<a ng-click="moveToPerson(requester)"><i class="icon-user"></i> Перейти в профиль</a>)
        </li>
    </ol>-->
</div>