<div class="asteros-change-calendar-ci">
    <ci-relations company="dummyChange.company" displaylimit="5" context="draftTicket" model="data"></ci-relations>
</div>
<dates context="draftTicket" class="asteros-change-calendar-dates"></dates>
