.header__logo{
  background: url(/asteros/img/custom_logo_smart-it.png) 100% no-repeat;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-size: cover;
}

.navigation-bar__item_selected {
  .navigation-bar__item-label {
    color: #F0BE32;

    &:hover{
      color: #F0BE32;
    }
  }
}

.navigation-bar__item-label:hover {
  color: #F0BE32;
}

.header__fadeline-bottom{
  background: #F0BE32;
}

.btn_primary { background-color: #F0BE32; }
.btn_primary:hover, .btn_primary:hover:enabled, .btn_primary:focus { background-color: #cca22b; }
.btn_primary:active, .btn_primary.btn_selected { background-color: #d3a72c; }
.btn_primary { border-color: #F0BE32; }
.btn_primary:hover, .btn_primary:focus { border-color: #cca22b; }
.btn_primary:active, .btn_primary.btn_selected { border-color: #d3a72c; }
.btn_primary.disabled, .btn_primary.disabled:focus,.btn_primary.disabled:hover, .btn_primary[disabled], .btn_primary[disabled]:focus,.btn_primary[disabled]:hover { background-color: #F0BE32; }
.btn_primary.disabled, .btn_primary.disabled:focus,.btn_primary.disabled:hover, .btn_primary[disabled], .btn_primary[disabled]:focus,.btn_primary[disabled]:hover { border-color: #F0BE32; }
.notification-banner { border-color: #F0BE32; }
