.asteros-approval-process {
  position: absolute;
  bottom: -75px;
  overflow-y: scroll;
  top: 75px;
  max-height: calc(100% - 150px);
  width: 100%; }
  .asteros-approval-process .header {
    text-align: center;
    padding: 10px 0; }
  .asteros-approval-process .asteros-approval-stage {
    width: 100%;
    margin-top: 10px; }
    .asteros-approval-process .asteros-approval-stage .panel-body {
      padding: 0; }
    .asteros-approval-process .asteros-approval-stage .asteros-approval {
      padding: 10px;
      border-bottom: 1px solid #d9d9d9;
      margin-bottom: 10px; }
      .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-status {
        font-size: 24px;
        display: inline-block;
        margin-top: 3px; }
      .asteros-approval-process .asteros-approval-stage .asteros-approval:last-child {
        margin-bottom: 0;
        border-bottom: 0; }
      .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver {
        display: inline-block;
        margin: 0 5px 10px 5px;
        vertical-align: top; }
        .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-tag {
          background-color: #d9d9d9;
          display: inline-block;
          padding: 5px;
          border-radius: 5px; }
          .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-tag [class^='icon-'] {
            font-size: 12px; }
          .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-tag .edit-approver-btn {
            cursor: pointer;
            margin-left: 3px; }
        .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .dirty {
          font-weight: bold; }
        .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .invalid {
          color: #F00; }
        .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-edit-field {
          display: inline-block;
          border: 1px solid;
          padding: 0 5px 0 0;
          border-radius: 5px; }
          .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-edit-field .custom-input {
            width: auto;
            border: 0; }
          .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-edit-field input {
            display: inline-block; }
          .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approver .asteros-edit-field .cancel-btn {
            display: inline-block;
            cursor: pointer; }
      .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approval-footer .asteros-approval-save-btn {
        text-align: left; }
      .asteros-approval-process .asteros-approval-stage .asteros-approval .asteros-approval-footer .asteros-approval-type {
        text-align: right; }
  .asteros-approval-process .asteros-approval-stage_invalid .panel-heading {
    color: #F00; }

.asteros-change-calendar-ci .ci-search__panel {
  position: relative;
  top: 0;
  padding: 0; }
  .asteros-change-calendar-ci .ci-search__panel .ci-search-section__add_query {
    display: none; }
  .asteros-change-calendar-ci .ci-search__panel .ci-search-section__save_presets {
    display: none; }
  .asteros-change-calendar-ci .ci-search__panel .ci-search-section__results {
    position: absolute;
    z-index: 100; }

.asteros-change-calendar-ci .ci-search__header {
  display: none; }

.asteros-change-calendar-dates .change__edit-update-collisions {
  display: none; }

.ticket__customer-card {
  padding: 10px; }
  .ticket__customer-card .ticket__owner {
    padding: 0; }
    .ticket__customer-card .ticket__owner .person-summary {
      padding: 0; }
      .ticket__customer-card .ticket__owner .person-summary .person-summary__full-name_link {
        padding: 0;
        font-size: 16px; }
      .ticket__customer-card .ticket__owner .person-summary .person-summary__organization {
        padding: 0;
        line-height: 20px; }
      .ticket__customer-card .ticket__owner .person-summary .person-card__column-caption {
        display: none; }
  .ticket__customer-card .ticket__contact {
    display: none; }

.ticket-customer-card__editable-content .custom-area {
  min-height: 0;
  display: block; }

form[name="ticketPersonEdit"] .create-ticket__person-item:nth-of-type(3) {
  display: none; }

form[name="forms.editWorkOrderRecordSummarySection"] .ticket-summary__content {
  font-weight: bold; }

form[name="forms.editWorkOrderDateSection"] .edit-affected-assets {
  display: none; }

form[name="forms.editWorkOrderDateSection"] .ticket-location {
  display: none; }

.ticket__header .ticket__management {
  padding: 20px 20px 0 20px; }

.multisearch-field__modal-wrapper {
  width: 100%; }
  .multisearch-field__modal-wrapper ins {
    text-decoration: none; }
  .multisearch-field__modal-wrapper .modal__close {
    float: right;
    margin: 15px; }
  .multisearch-field__modal-wrapper .modal-btn {
    background-color: #ffffff;
    border: 1px solid #999999;
    color: #333333; }
  .multisearch-field__modal-wrapper .btn-primary {
    background-color: #f86e00;
    border: 1px solid #f86e00; }
  .multisearch-field__modal-wrapper .modal-body {
    padding: 10px; }
    .multisearch-field__modal-wrapper .modal-body .filter .filter-field {
      padding: 0 10px 10px 0; }
      .multisearch-field__modal-wrapper .modal-body .filter .filter-field:last-child {
        padding-right: 0; }
      .multisearch-field__modal-wrapper .modal-body .filter .filter-field label {
        display: inline-block;
        margin-right: 10px; }
      .multisearch-field__modal-wrapper .modal-body .filter .filter-field input {
        transition: all 0.2s;
        width: 100%;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
        font-size: 14px;
        line-height: 1.6;
        padding: 2px 10px;
        height: 28px; }
    .multisearch-field__modal-wrapper .modal-body .filter button {
      height: 28px;
      line-height: 14px;
      font-size: 14px;
      margin-bottom: 10px;
      width: 100%; }
    .multisearch-field__modal-wrapper .modal-body .filtered-records {
      margin-top: 10px; }

.asteros-paging-table {
  width: 100%; }
  .asteros-paging-table thead tr th {
    border: 1px solid #d9d9d9;
    padding: 5px; }
  .asteros-paging-table tbody tr {
    border-bottom: 1px solid #d9d9d9; }
    .asteros-paging-table tbody tr td {
      font-family: OpenSansLight, OpenSans, Helvetica;
      padding: 5px; }
      .asteros-paging-table tbody tr td:first-child {
        text-align: center; }
  .asteros-paging-table tfoot tr .paging {
    width: 100%;
    text-align: center; }
    .asteros-paging-table tfoot tr .paging span {
      display: inline-block;
      padding: 5px;
      cursor: pointer;
      text-decoration: underline; }
    .asteros-paging-table tfoot tr .paging .current, .asteros-paging-table tfoot tr .paging .first, .asteros-paging-table tfoot tr .paging .last {
      cursor: default;
      text-decoration: none;
      font-weight: bold; }

.multisearch-field .multisearch-field__caption-block {
  min-height: 30px; }
  .multisearch-field .multisearch-field__caption-block .multisearch-field__caption-block__label {
    display: inline-block;
    color: #999; }
  .multisearch-field .multisearch-field__caption-block .multisearch-field__caption-block__label_black {
    color: #000; }
  .multisearch-field .multisearch-field__caption-block .multisearch-field__caption-block__controls {
    float: right; }

.multisearch-field .multisearch-field__content .multisearch-field__item {
  margin: 0 0 10px 20px;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #EEE; }

.multisearch-field .multisearch-field__content .multisearch-field__tag {
  display: inline-block;
  border: 1px solid #EEE;
  background: #EEE;
  margin: 0 5px 5px 0;
  padding: 5px; }
  .multisearch-field .multisearch-field__content .multisearch-field__tag ins {
    text-decoration: none; }

.multisearch-field .multisearch-field__content_invalid {
  border: 1px solid #f83200;
  border-radius: 2px;
  min-height: 36px; }

.multisearch-field .multisearch-field__value {
  display: none; }

.control-button {
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 3px;
  display: inline-block; }
  .control-button ins {
    text-decoration: none; }

.control-button_add {
  color: #89c341; }

.control-button_remove {
  color: #f83200; }

.support-modal__btn-container {
  padding: 0 8px 0 8px; }

.asteros-comment-form {
  padding: 10px; }

.user-settings-menu {
  overflow-x: hidden; }

.service-request__approvals {
  padding: 0 10px; }

.service-request-approvers {
  line-height: 48px; }

.timeline-item__message span table {
  width: 100%; }

.ticket-date-col {
  padding: 0; }

.wo-requesters-list .wo-requesters-list__table {
  width: 100%; }
  .wo-requesters-list .wo-requesters-list__table th {
    padding: 0 5px 10px 5px; }
  .wo-requesters-list .wo-requesters-list__table td {
    padding: 5px; }

.asteros-wo-requesters-list__container {
  padding: 10px 10px 10px 20px;
  border-top: 1px solid #DDD; }

.asteros-full-width-custom-fields .custom-field {
  width: 100%; }

.asteros-margin-bottom-custom-fields .custom-field {
  margin: 0 0 10px 0; }

.ticket-summary__content_scroll-area-holder textarea {
  font-weight: normal; }

.asteros_nobold button {
  font-weight: normal; }
