<div class="asteros-dynamic-field">
    <div class="asteros-dynamic-field-input">
        <input ng-model="input" ng-change="refresh()" placeholder="{{inputPlaceholder}}">
        <div class="asteros-dynamic-field__spinner-container">
            <loading-spinner if="isLoading" inline="true"></loading-spinner>
        </div>
    </div>
    <div class="asteros-dynamic-field-dropdown" ng-if="models.length">
        <asteros-dynamic-field-dropdown-item
                ng-repeat="model in models"
                model="model"
                template-url="{{listTemplate}}"
                select-callback="selectItem(model)"
        ></asteros-dynamic-field-dropdown-item>
    </div>
</div>