<table class="asteros-paging-table">
    <thead>
    <tr>
        <th ng-if="isSelectable"></th>
        <th ng-repeat="label in labels track by $index">{{ label }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="items.length === 0">
        <td colspan="{{ ($parent.isSelectable ? 1 : 0) + fields.length }}">Записи не найдены</td>
    </tr>
    <tr ng-repeat="item in pageItems">
        <td ng-if="$parent.isSelectable">
            <ins ng-class="{'icon-check' : item.isSelected, 'icon-plus': !item.isSelected}" ng-click="$parent.select(item)"></ins>
        </td>
        <td ng-repeat="field in $parent.fields">{{ item.data[field.fieldName] }}</td>
    </tr>
    </tbody>
    <tfoot ng-if="items.length !== 0">
    <tr>
        <td colspan="{{ ($parent.isSelectable ? 1 : 0) + $parent.fields.length }}" class="paging">
            <span ng-click="moveToPage(1)" class="first">&laquo;</span>
            <span ng-repeat="pageNumber in $parent.pageNumbersList" ng-click="moveToPage(pageNumber )" ng-class="{'current' : pageNumber === $parent.page}">{{ pageNumber }}</span>
            <span ng-click="moveToPage(getLastPageNumber())" class="last">&raquo;</span>
        </td>
    </tr>
    </tfoot>
</table>